.--bs--link {
  transition: all 0.15s ease-out;
  transform: scale(1);
  display: inherit;
}

.--bs--enabled .--bs--link.--bs--link-bullshit {
  transform: scale(0.99);
  opacity: 0.2;
}

.--bs--enabled .--bs--link.--bs--link-interesting {
  transform: scale(1.2);
}
